.img1 {
    background-image: url(https://ridsi-dash.com/static/media/favicon.51392cb9.png);
}

.color1 {
    color: whitesmoke;
}

.color2 {
    color: #DD2366;
}

.color3 {
    color: #222428;
}

.bcolor1 {
    background-color: whitesmoke;
}

.bcolor2 {
    background-color: #DD2366;
}

.bcolor3 {
    background-color: #222428;
}
