.color1 {
    color: whitesmoke;
}

.color2 {
    color: black;
}

.color3 {
    color: white;
}

.bcolor1 {
    background-color: whitesmoke;
}

.bcolor2 {
    background-color: black;
}

.bcolor3 {
    background-color: white;
}
